@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#020617,#1e293b);
}

.calculator{

background:rgba(255,255,255,0.08);
padding:25px;
border-radius:20px;
backdrop-filter:blur(10px);
box-shadow:0 20px 40px rgba(0,0,0,0.5);
width:320px;

}

#screen{

width:100%;
height:60px;
font-size:26px;
border:none;
border-radius:10px;
margin-bottom:20px;
padding:10px;
text-align:right;
background:#020617;
color:white;

}

.buttons{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;

}

button{

padding:18px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
background:#334155;
color:white;
transition:0.2s;

}

button:hover{
background:#475569;
transform:scale(1.05);
}

.operator{
background:#6366f1;
}

.operator:hover{
background:#4f46e5;
}

.equal{
background:#22c55e;
}

.equal:hover{
background:#16a34a;
}

.clear{
background:#ef4444;
}

.clear:hover{
background:#dc2626;
}