*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#020617,#1e293b);
color:white;
}

.app{

width:90%;
max-width:650px;

background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);

padding:25px;

border-radius:15px;

box-shadow:0 20px 40px rgba(0,0,0,0.5);

}

.header{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:20px;

}

.header h2{
font-size:22px;
}

.header button{

background:#6366f1;
border:none;

padding:10px 15px;

color:white;

border-radius:6px;

cursor:pointer;

}

.header button:hover{
background:#4f46e5;
}

.week-days{

display:grid;

grid-template-columns:repeat(7,1fr);

text-align:center;

font-weight:bold;

margin-bottom:10px;

opacity:0.8;

}

.calendar{

display:grid;

grid-template-columns:repeat(7,1fr);

gap:8px;

}

.day{

height:45px;

display:flex;

justify-content:center;

align-items:center;

border-radius:8px;

background:#334155;

cursor:pointer;

transition:0.2s;

}

.day:hover{
transform:scale(1.1);
background:#475569;
}

.selected-red{

background:#ef4444;

}

.selected-blue{

background:#3b82f6;

}

.stats{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:10px;

margin-top:20px;

}

.stat{

background:#020617;

padding:12px;

border-radius:8px;

text-align:center;

font-weight:600;

}

.red{
color:#ef4444;
}

.blue{
color:#3b82f6;
}

.total{
color:#22c55e;
}

.pay{
color:#facc15;
}